<!-- Header Component -->
<header class="header" id="header">
  <div class="header__container">
    <a href="#home" class="header__logo">
      <img
        src="./Assets/s.e.h.a.t Branding/Logo 1.svg"
        alt="s.e.h.a.t Logo"
        class="header__logo-img"
      />
    </a>

    <nav class="nav" id="nav">
      <ul class="nav__list">
        <li><a href="#home" class="nav__link active">Home</a></li>
        <li><a href="#problems" class="nav__link">Problems</a></li>
        <li><a href="#solutions" class="nav__link">Solutions</a></li>
        <li><a href="#benefits" class="nav__link">Benefits</a></li>
      </ul>
      <a href="#contact" class="nav__cta">Get Started</a>
    </nav>

    <div class="nav__toggle" id="navToggle">
      <span class="nav__toggle-line"></span>
      <span class="nav__toggle-line"></span>
      <span class="nav__toggle-line"></span>
    </div>
  </div>
</header>
